@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: $common-text-color;
    height: 40px;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    .language{
        .welcome-user{
            font-size: 19px;
            font-weight: 600;
        }
        .language-en{
            margin: 0 15px;
            cursor: pointer;
            font-size: 20px;
            opacity: 0.8;
            &.active{
                color: orange !important;
                font-weight: 600;
                font-size: 900;
                opacity: 1;
            }
            &:hover{
                opacity: 1;
            }
        }
        .language-vi{
            cursor: pointer;
            font-size: 20px;
            opacity: 0.8;
            &.active{
                color: orange;
                font-weight: 600;
                opacity: 1;
            }
            &:hover{
                opacity: 1;
            }
        }
        .btn-logout {
            margin-left: 10px;
            color: $common-text-color;
            line-height: 40px;
            height: 40px;
            padding: 0 10px;
            &:hover {
                background-color: darken($colormain, 5);
            }
            i {
                font-size: $base-size + 1px;
            }
        }
    }
}