.header-container{
    height:90px;
    color: black;
    width: 100%;
    padding: 0 30px;
    
    .header-content{
        width: 100%;
        height: 100%;
        display: flex;

        .left-content{
            width: 25%;
            display: flex;
            align-items: center;

            .header-logo{
                background: url(../../assets/images/logo-bookingcare-2020.svg) center center no-repeat;
                height: 80%;
                width:  80%;
            }
            i {
                font-size: 25px;
                padding-right: 20px;
                color: grey;
                cursor: pointer;
            }
        }
        
        .center-content{
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            .child-content{
                .sub-tittle{
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }

        .right-content{
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                color: rgb(23, 157, 229);
            }
        }
    }
}

.banner-container{
    background: url(../../assets/images/bookingcare-cover-4.jpg);
    height: 530px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;

    .banner-content-up{
        height: 50%;
        padding-top: 10px;
        .banner-tittle-1{
            text-align: center;
            font-size: 30px;
            color: white;
            padding-top: 20px;
            padding-bottom: 8px;
            text-shadow: 1px 1px 1px #333;

        }

        .banner-tittle-2{
            text-align: center;
            font-size: 45px;
            font-weight: 600;
            color: white;
            padding-bottom: 30px;
            text-shadow: 1px 1px 1px #333;
            
        }
        .banner-search{
            padding-top: 15px;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            align-items: center;
            padding: 10px;
            width: 510px;
            border-radius: 50px;
            background-color: #f7d800;
            i {
                margin: 0 5px;
                font-size: 25px;
            }
            input {
                height: 30px;
                width: 450px;
                background-color: transparent;
                border: none;
                outline: none;
            }
        }
    }

    .banner-content-down{
        height: 50%;
        margin-top: 50px;
        align-items: center;
        .banner-option{
            display: flex;
            justify-content: center;
            .child-option{
                width: 10%;
                text-align: center;
                margin: 90px 17px;
                i {
                    //font-weight: 100;
                    align-items: center;
                    width: fit-content;
                    padding: 10px;
                    border-radius: 50%;
                    background: white;
                    font-size: 30px;
                    width: 60px;
                    height: 60px;
                    color:  rgb(23, 157, 229);
                }
                .text{
                    font-size: 17px;
                    font-weight: 600;
                    cursor: pointer; 
                    &:hover{
                        color:  rgb(23, 157, 229);
                    }
                }
            }
        }
    }
}