.section-container{
    &.specialty {
        margin-top:10px;    
        background: #f5f5f5;
        height: 290px;
    }
    &.medical{
        margin-top:20px;
        height: 280px;
    }
    &.doctor{
        background-image: url(../../assets/images/doctor/140311-background5.png);
        padding-top: 20px;
        height: 400px;
    }
    &.handbook {
        background: #f5f5f5;
        height: 350px;
    }   
    .section-content{
        margin: 0 100px;
        display: flex;
        flex-direction: column;
        .header{
            //text-align: center;
            height: 60px;
            &.specialty{
                padding-top: 30px;
                margin-bottom: 30px; 
            }
            &.handbook {
                padding-top: 25px;
                margin-bottom: 30px;
            }
            .tittle{
                font-size: 23px;
                font-weight: 600;
                &:hover{
                    color: rgb(52, 146, 158);
                }
            }
            .btn-select{
                font-size: 15px;
                font-weight: 600;
                float: right;
                background-color: rgb(218, 243, 246);
                color:  rgb(52, 146, 158);
                display: block;
                border: none;
                text-transform: uppercase;
                padding: 8px 10px;
                border-radius: 10%;
                &:hover{
                    color: #fff;
                    background:   rgb(52, 146, 158);
                    cursor: pointer;
                }
            }
        }
        .body{
            .slider-content{
                margin: 0 auto;
                .doctor-border{
                    height: 300px;
                    width: 300px;
                    border: 3px solid #cac3c3a6;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 10%;
                }
                .image-content{
                    width:300px;
                    height: 150px;
                    background-color: #eee;
                    border-radius: 8%;
                    &.specialty_1{
                        background: url(../../assets/images/specialty/112457-co-xuong-khop.webp);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.specialty_2{
                        background: url(../../assets/images/specialty/thankinh.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.specialty_3{
                        background: url(../../assets/images/specialty/viemgan.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.specialty_4{
                        background: url(../../assets/images/specialty/timmach.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.specialty_5{
                        background: url(../../assets/images/specialty/taimuihong.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.specialty_6{
                        background: url(../../assets/images/specialty/cotsong.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.specialty_7{
                        background: url(../../assets/images/specialty/yhoccotruyenb.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.specialty_8{
                        background: url(../../assets/images/specialty/chamcuu.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.medical_1{
                        background: url(../../assets/images/medical/logo-vietduc.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.medical_2{
                        background: url(../../assets/images/medical/logo-choray.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.medical_3{
                        background: url(../../assets/images/medical/logo-yduoc.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.medical_4{
                        background: url(../../assets/images/medical/logo-quandoi.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover
                    }
                    &.medical_5{
                        background: url(../../assets/images/medical/logo-hungviet.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.medical_6{
                        background: url(../../assets/images/medical/logo-med.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.medical_7{
                        background: url(../../assets/images/medical/logo-diag.png);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.medical_8{
                        background: url(../../assets/images/medical/logo-thucuc.png);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.doctor{
                        margin-top: 10px;
                        //background: url(../../assets/images/doctor/091359-bac-sy-kim-chi-cao-thang.jpg);
                        background-position: center center;
                        height: 200px;
                        width: 200px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 50%;
                        border: 2px solid white;
                    }
                    &.handbook_1{
                        margin-left: 70px;
                        width: 500px;
                        height: 200px;
                        margin-bottom: 10px;
                        background: url(../../assets/images/handbook/114221-dinh-ta-xua.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 0%;
                    }
                    &.handbook_2{
                        margin-left: 70px;
                        width: 500px;
                        height: 200px;
                        margin-bottom: 10px;
                        background: url(../../assets/images/handbook/120726-rung-reu-phong-2.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 0%;
                    }
                    &.handbook_3{
                        margin-left: 70px;
                        width: 500px;
                        height: 200px;
                        margin-bottom: 10px;
                        background: url(../../assets/images/handbook/183808-ban-tiep-tuc-leo.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 0%;
                    }
                    &.handbook_4{
                        margin-left: 70px;
                        width: 500px;
                        height: 200px;
                        margin-bottom: 10px;
                        background: url(../../assets/images/handbook/235130-teamanh-dinh-ta-xua.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 0%;
                    }
                }
                .text-content{
                    margin: 0 auto; 
                    text-align: center;
                    font-size: 18px;
                    font-weight: 600;
                    &:hover {
                        color: rgb(52, 146, 158)
                    }
                    &.handbook{
                        font-size: 16px;
                    }
                }
                .name-doctor{             
                    font-size: 18px;
                    font-weight: 600;
                    &:hover {
                        color: rgb(52, 146, 158);
                    }
                }
            }
            .slick-prev:before{
                font-family: FontAwesome !important;
                color:  rgb(52, 146, 158);
                font-size: 25px;
            }
            .slick-prev{
                left: -20px !important;
                z-index: 1000;
                height: 48px;
                width: 44px;
                background-color: rgb(218, 243, 246);
                border: 2px solid rgb(52, 146, 158);
                border-radius: 50%;
                &:hover{
                    background:   rgb(236, 249, 250);
                    border-color: rgb(89, 150, 158);
                }
            
            }
            .slick-next:before{
                font-family: FontAwesome !important;
                color: black;
                font-size: 25px;
            }
            .slick-next{
                right: -20px !important;
                height: 48px;
                width: 44px;
                background-color: rgb(218, 243, 246);
                border: 2px solid rgb(52, 146, 158);
                border-radius: 50%;
                &:hover{
                    background:   rgb(236, 249, 250);
                    border-color: rgb(89, 150, 158);
                }
            }
            .slick-disabled{
                display: none !important;
            }
        }
    }
}