.section-container{
    margin-top:30px;
    height: 330px;
    &.specialty {
        background: #f5f5f5;
    }

    .section-content{
        margin: 0 100px;
        display: flex;
        flex-direction: column;
        .header{
            text-align: center;
            height: 60px;
            margin-bottom: 50px;
            padding-top: 20px;
            .tittle{
                font-size: 30px;
                font-weight: 600;
            }
            .btn-select{
                font-size: 15px;
                font-weight: 600;
                float: right;
                background-color: #ebebeb;
                color: #282e41;
                display: block;
                border: none;
                text-transform: uppercase;
                padding: 8px 10px;
                border-radius: 10%;
                &:hover{
                    color: #fff;
                    background:  #f7d800;
                    cursor: pointer;
                }
            }
        }
        .body{
            .slider-content{
                margin: 0 auto;
                .image-content{
                    width:300px;
                    height: 150px;
                    background-color: #eee;
                    border-radius: 8%;
                    &.specialty_1{
                        background: url(../../assets/images/specialty/112457-co-xuong-khop.webp);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.specialty_2{
                        background: url(../../assets/images/specialty/thankinh.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.specialty_3{
                        background: url(../../assets/images/specialty/viemgan.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.specialty_4{
                        background: url(../../assets/images/specialty/timmach.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.specialty_5{
                        background: url(../../assets/images/specialty/taimuihong.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.specialty_6{
                        background: url(../../assets/images/specialty/cotsong.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.specialty_7{
                        background: url(../../assets/images/specialty/yhoccotruyenb.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.specialty_8{
                        background: url(../../assets/images/specialty/chamcuu.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.medical_1{
                        background: url(../../assets/images/medical/logo-vietduc.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.medical_2{
                        background: url(../../assets/images/medical/logo-choray.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.medical_3{
                        background: url(../../assets/images/medical/logo-yduoc.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.medical_4{
                        background: url(../../assets/images/medical/logo-quandoi.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover
                    }
                    &.medical_5{
                        background: url(../../assets/images/medical/logo-hungviet.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.medical_6{
                        background: url(../../assets/images/medical/logo-med.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.medical_7{
                        background: url(../../assets/images/medical/logo-diag.png);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    &.medical_8{
                        background: url(../../assets/images/medical/logo-thucuc.png);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                }
                .text-content{
                    margin: 0 auto; 
                    text-align: center;
                    font-size: 18px;
                    font-weight: 600;
                    &:hover {
                        color: #f7d800;
                    }
                }
            }
            .slick-prev:before{
                font-family: FontAwesome !important;
                color: black;
                font-size: 25px;
            }
            .slick-prev{
                left: -20px !important;
                z-index: 1000;
                height: 48px;
                width: 44px;
                background: #d7d7d7;
                border: 2px solid #d7d7d7;
                &:hover {
                    background: #f2f0f0;
                }
            
            }
            .slick-next:before{
                font-family: FontAwesome !important;
                color: black;
                font-size: 25px;
            }
            .slick-next{
                right: -20px !important;
                height: 48px;
                width: 44px;
                background: #d7d7d7;
                border: 2px solid #d7d7d7;
                &:hover {
                    background: #f2f0f0;
                }
            }
        }
    }
}