.manage-container{
    margin: 10px;
    .manage-title{
        text-align: center;
        text-transform: uppercase;
        padding: 5px;
        font-size: 25px;
        font-weight: 600;
        font-family: ui-serif;
    }
    .manage-body{
        padding: 10px 0;
        .body-info{
            display: flex;
            gap:    15px;
            padding-bottom: 15px;
            .body-info-left{
                width: 20%;
            }
            .body-info-right{
                width: 80%;
            }
        }
    }
    .edit-btn{
        font-size: 16px;
        color: #000;
        font-weight: 600;
        background-color: #ffc107;
        border-color: #ffc107;
        &:hover{
            background-color: rgb(243, 171, 37);
            //color: rgba(255, 255, 255, 0.741);
        }
    }
    .create-btn{
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
        &:hover{
            background-color: #0f66e8;;
            //color: #fff;
        }

    }
}
.body-title{
    font-size: 17px;
    font-weight: 550;
}