.redux-container{    
    .redux-body{
        font-size: 18px;
        .text-center{
            display: flex;
            font-size: 25px;
            padding: 0 160px;
            font-weight: 500;   
            justify-content: space-between;
            span{
                padding-left: 120px;
            }
            .btn-primary{
                font-size: 20px;
            }
        }
    }
}
.image-container{
    display: flex;
    flex-direction: column;
    .upload-button{
        flex-direction:row;
        text-align: center;
        padding: 5px 0;
        border-radius: 5px;
        background-color: #ddd;
        cursor: pointer;
        width: 150px;
        font-size: 18px;
        &:hover{
            opacity: 0.9;
        }
    }
}
