.schedule-container{
    height: 500px;
    width: 100%;
    margin: 10px 0;
    .schedule-tittle{
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 10px;
    }
    .pick-hour-container{
        height: fit-content;
        display: flex;
        //border: 1px solid red;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        margin: 40px 0;
        .chooose-time{
            border: 1px solid rgb(59, 58, 58);
            font-size: 14px;
            font-weight: 600;
            color: #FFA500;
            //width: 120px;
            background-color: #eae7e75f;
            &.active{
                background-color: #FFA500;
                color: white;
                border: 1px solid rgb(180, 179, 179);
            }
        }
    }
    .btn-container{
        justify-content: center;
        display: flex;
        .btn-save-schedule{
            font-size: 20px;
            color: white;
            font-weight: 600;
            background-color: #FFA500;;
            border-color:rgb(180, 179, 179);
            &:hover{
                background-color: rgb(243, 171, 37);
                //color: rgba(255, 255, 255, 0.741);
            }
        }
    }
}