#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.editBtn {
    width: 31px;
    border: none;
    outline: none;
    background: transparent;
    color: #9a4e1c;
    &:hover{
        background-color: transparent !important;
    }
}

.delBtn {
    width: 31px;
    border: none;
    outline: none;
    background: transparent;
    color: #e3300c;
    &:hover{
        background-color: transparent !important;
    }
}

.modalUser {
  .modal-body {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    .input-container{
      display: flex;
      flex-direction: column;
      width:47%;

        &.max-width-input{
          width: 97%
        }

      input{
         height: 30px;
         outline: none;
         border: 1px solid grey;
         border-radius: 12px;
         padding: 0 10px;
     }

      .form-control{
        border-radius: 12px;
        border: 1px solid grey;
        height: 30px;
      }
      }
  }
  .modal-footer {
    .btn-create{
      font-size: 16px;
      color: white;
      border: none;
    }
  }

    .btn{
      font-size: 16px;
      color: white;
      border: none;
    }
}